# General Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Virtual environments
venv/
.env/
*.venv
*.env

# Jupyter notebooks & logs
.ipynb_checkpoints/
*.log

# Data files
*.zip
*.tar.gz

# Model files
models/
*.pkl
*.h5
*.onnx

# VS Code settings
.vscode/
